<!DOCTYPE html>
<html ng-app="subutai-app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ Page.title() }}</title>

    <!--CSS Libs-->
    <link rel="stylesheet" href="css/libs/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/libs/nprogress.css"/>
    <link rel="stylesheet" href="css/libs/normalize.css"/>
    <link rel="stylesheet" href="css/libs/sweetalert.css">
    <link rel="stylesheet" href="css/libs/ngDialog.css">
    <link rel="stylesheet" href="css/libs/nouislider.min.css">
    <link rel="stylesheet" href="css/libs/datatables.css">
    <!--CSS-->

    <link rel="stylesheet" href="css/style.css"/>

    <!-- DIRS -->
    <!-- END DIRS -->
</head>

<body>

<header class="b-header">
    <div class="b-header__logo b-header__logo_left">
        <div class="b-header-logo">
            <a href="index.html"><img src="assets/elements/logo.svg" alt="" height="20px"/></a>
        </div>
    </div>
    <div class="b-header__userbar b-header__userbar_right">
        <div class="b-header-userbar">
            <div class="b-header-userbar__name">
                <a href="#" class="b-header-userbar-name">Name Username</a>
            </div>
            <div class="b-header-userbar__avatar">
                <img src="" alt="" class="b-header-userbar-avatar"
                     onerror="this.onerror=null;this.src='assets/elements/avatar-empty.svg';"/>
            </div>
        </div>
    </div>
</header>

<div class="b-content">
    <div ng-include="'subutai-app/common/partials/nav-menu.html'"></div>


    <!--Tab 1 Servers-->
    <div class="b-workspace">

        <div class="b-workspace__header">
            <h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Keshig</span></h1>
        </div>
        <div class="b-workspace__content">
            <div class="b-workspace-content b-workspace-content_border">
                <div class="b-main-table-border">
                    <table class="b-main-table b-main-table_with-header">
                        <tr>
                            <th>Name</th>
                            <th>Id</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>server-one</td>
                            <td>test-server</td>
                            <td class="b-main-table__controls"><a href="#" class="b-btn b-btn_light-grey">Add <i
                                    class="fa fa-plus"></i></a></td>
                            <td class="b-main-table__controls"><a href="" class="b-icon b-icon_remove"
                                                                  ng-click="keshigCtrl.deleteOption('clone-option')"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Tab 2 Options-->
    <div class="b-workspace">

        <div class="b-workspace__header">
            <h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Keshig</span></h1>
        </div>
        <div class="b-workspace__content">
            <div class="b-workspace-content b-workspace-content_border">
                <div class="b-workspace-content__row">
                    <a href="#" class="b-btn b-btn_blue b-btn_margin-r"><i class="fa fa-plus"></i> Add option</a> <select name="#" class="b-form-input"
                                                                                                            id="">
                    <option value="Deploy">Deploy</option>
                    <option value="Deploy">Test</option>
                </select>
                </div>
                <div class="b-workspace-content__row">
                    <div class="b-main-table-border">
                        <table class="b-main-table b-main-table_with-header">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Branch</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td class="b-main-table__edit-icon"><a href="#" class="b-icon b-icon_edit"></a></td>
                                <td>server-one</td>
                                <td>test-server</td>
                                <td>test-server</td>
                                <td class="b-main-table__controls"><a href="#" class="b-btn b-btn_green">Run</a></td>
                                <td class="b-main-table__controls"><a href="" class="b-icon b-icon_remove"
                                                                      ng-click="keshigCtrl.deleteOption('clone-option')"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--Tab 3 Profile-->
    <div class="b-workspace">

        <div class="b-workspace__header">
            <h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Keshig</span></h1>
        </div>
        <div class="b-workspace__content">
            <div class="b-workspace-content b-workspace-content_border">
                <div class="b-workspace-content__row">
                    <a href="#" class="b-btn b-btn_blue b-btn_margin-r"><i class="fa fa-plus"></i> Add profile</a>
                </div>
                <div class="b-workspace-content__row">
                    <div class="b-main-table-border">
                        <table class="b-main-table b-main-table_with-header">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Branch</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td class="b-main-table__edit-icon"><a href="#" class="b-icon b-icon_edit"></a></td>
                                <td>server-one</td>
                                <td>test-server</td>
                                <td>test-server</td>
                                <td class="b-main-table__controls"><a href="" class="b-icon b-icon_remove"
                                                                      ng-click="keshigCtrl.deleteOption('clone-option')"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Tab 4 Resource hosts-->
    <div class="b-workspace">

        <div class="b-workspace__header">
            <h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Keshig</span></h1>
        </div>
        <div class="b-workspace__content">
            <div class="b-workspace-content b-workspace-content_border">
                <div class="b-workspace-content__row">
                    <a href="#" class="b-btn b-btn_blue b-btn_margin-r"><i class="fa fa-arrow-up"></i> Export</a>
                </div>
                <div class="b-workspace-content__row">
                    <div class="b-main-table-border">
                        <table class="b-main-table b-main-table_with-header">
                            <tr>
                                <th>Hostname</th>
                                <th>Peer Ip address</th>
                                <th>Comment</th>
                                <th>Used by</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>server-one</td>
                                <td>test-server</td>
                                <td>test-server</td>
                                <td>test-server</td>
                                <td class="b-main-table__controls"><a href="#" class="b-btn b-btn_blue">View</a></td>
                                <td class="b-main-table__controls"><a href="" class="b-icon b-icon_remove"
                                                                      ng-click="keshigCtrl.deleteOption('clone-option')"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Tab 5 History-->
    <div class="b-workspace">

        <div class="b-workspace__header">
            <h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Keshig</span></h1>
        </div>
        <div class="b-workspace__content">
            <div class="b-workspace-content b-workspace-content_border">
                <div class="b-workspace-content__row">
                </div>
                <div class="b-workspace-content__row">
                    <div class="b-main-table-border">
                        <table class="b-main-table b-main-table_with-header">
                            <tr>
                                <th>Type</th>
                                <th>Server</th>
                                <th>Start time</th>
                                <th>End time</th>
                                <th>Results</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>server-one</td>
                                <td>test-server</td>
                                <td>test-server</td>
                                <td>test-server</td>
                                <td>test-server</td>
                                <td class="b-main-table__controls"><a href="#" class="b-btn b-btn_blue">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
</div>


<!-- BASE -->
<script src="assets/js/jquery/jquery-2.1.1.min.js"></script>
<script src="scripts/libs/nprogress.js"></script>
<script src="scripts/libs/sweetalert.min.js"></script>
<script src="scripts/libs/datatables.min.js"></script>
<script src="scripts/scripts.js"></script>

<!-- Angular deps -->
<script src="assets/js/angular/angular.min.js"></script>
<script src="assets/js/ui-router/angular-ui-router.min.js"></script>
<script src="assets/js/angular/angular-resource.min.js"></script>
<script src="assets/js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="assets/js/plugins/SweetAlert.min.js"></script>
<script src="assets/js/plugins/ngDialog.min.js"></script>
<script src="assets/js/plugins/angular-datatables.min.js"></script>

<script src="subutai-app/subutai-app.js"></script>
<!-- ENDBASE -->

<!--directive dep-->
<script src="assets/js/directives.js"></script>
</body>

</html>
