<div id="identity">

    <div id="one" ng-controller="IdentityTableCtrl">
        <button class="createUserBtn btn btn-primary btn-lg">Create new user</button>
        <table class="table">
            <thead>
            <tr>
                <th>username</th>
                <th>fulname</th>
                <th>email</th>
                <th>edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td><button class="btn btn-primary btn-md editUserBtn">edit</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="two" class="hiddenRightHalf">
        <span class="closeForm">&times;</span>
        <form action="" method="" class="createUserForm">
            <h1>User registration</h1>
            <div class="form-group">
                <label class="required">Username</label>
                <input type="text" placeholder="Username" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="required">Surname</label>
                <input type="text" placeholder="Surname"  class="form-control" required>
            </div>
            <div class="form-group">
                <label class="required">Password</label>
                <input type="password" placeholder="***********"  class="form-control" required>
            </div>
            <div class="form-group">
                <label class="required">Confirm password</label>
                <input type="password" placeholder="***********"  class="form-control" required>
            </div>
            <div class="form-group">
                <label class="required">Email</label>
                <input type="password" placeholder="email@mail.com"  class="form-control" required>
            </div>
            <div class="form-group">
                <label>User roles</label>
                <div id="dragNdrop" class="dragNdropContainer"></div>
            </div>
            <div class="form-group userFormBtns">
                <button class="btn btn-primary btn-md pull-right" type="submit">Save user</button>
                <button class="btn btn-primary btn-md pull-right">Cancel</button>
            </div>

        </form>
    </div>



</div>
<script>
    console.log('success');
    $(".createUserBtn").on('click', function(){

        $("#two").toggleClass("hiddenRightHalf");
    });
    $(".closeForm").on('click', function(){
        $("#two").toggleClass("hiddenRightHalf");
    });


    var t = $('#dragNdrop').bootstrapTransfer();
    t.populate([
        {value:"1", content:"option 1"},
        {value:"2", content:"option 2"},
        {value:"3", content:"option 3"},
        {value:"4", content:"option 4"},
        {value:"5", content:"option 5"}
    ]);
</script>