/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500italic,500,400,400italic,700,700italic);

/*General*/

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f0f0f0;
	position: relative;
}

.clear {
	clear: both;
}

/*Header*/

.b-header {
    height: 45px;
    padding: 15px 30px 0;
    background-color: #fff;
}

.b-header__logo {
    margin: 5px 0;
    width: 230px;
    height: 30px;
}

.b-header__logo_left {
    float: left;
    display: inline-block;
}

.b-header__userbar_right {
    float: right;
    display: inline-block;
}

.b-header-userbar__name {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    margin-right: 5px;
    padding-top: 6px;
}

.b-header-userbar-name {
    font-size: 13px;
    color: #19286e;
    text-decoration: none;
}

.b-header-userbar__avatar {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.b-header-userbar-avatar {
    border: 1px solid #e6eaf5;
    border-radius: 15px;
}

.b-header-userbar-name:hover {
    text-decoration: underline;
}

/*Progress loader page*/
#nprogress .bar {
    background: #0b55ff;
    height: 3px;
	position: absolute;
	left: 0;
    top: 57px;
}

#nprogress .peg {
    display: none;
}

#nprogress .spinner {
    top: 21px;
    left: 230px;
	position: absolute;
}

#nprogress .spinner-icon {
    border-top-color: #0b55ff;;
    border-left-color: #0b55ff;;
}

.b-content {
    padding: 15px 30px 0 30px;
}

.b-workspace {
	margin: 0 0 0 220px;
    background-color: #fff;
    border: 1px solid #e6eaf5;
    border-radius: 5px;
	padding: 16px 25px 32px 25px;
}

.b-workspace__header {
	padding: 0 0 21px 0;
}

.b-title {
	font-size: 18px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color: #19286e;
	font-weight: 700;
}

.b-button {
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	font-size: 13px;
	color: #fff;
	background-color: #39b54a;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 400;
	border: 1px solid #ceedd2;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;	
}

.b-button:hover {
	background-color: #009245;
	border: 1px solid #80c9a2;
}

a.b-button,
a.b-button:visited {
	display: inline-block;
}

.b-button_header-button {
	float: right;
}

.b-main-table-border {
	border: 1px solid #e9edf6;	
	border-radius: 5px;
	overflow: hidden;
}

.b-main-table {
	border-collapse: collapse;
	width: 100%;
}

.b-main-table th {
	padding: 18px 0 17px 18px;
	background-color: #f1f4f8;
	font-size: 13px;
	color: #19286e;
	text-align: left;
}

.b-main-table tr {
	border-bottom: 1px solid #e9edf6;
}

.b-main-table tr:last-child {
	border: none;
}

.b-main-table td {
	font-size: 13px;
	color: #19286e;
	padding: 18px 0 17px 18px;
	text-align: left;
}

.b-tags {
	display: inline-block;
	padding: 0 8px;
	height: 16px;
	line-height: 16px;
	color: #333333;
	background-color: #efc94c;
	border: 1px solid #f2d678;
	text-decoration: none;
	font-size: 9px;
	border-radius: 5px;
	margin: 0 2px 0 0;
}

.b-tags_orange {
	background-color: #e27a3f;
	border: 1px solid #f3d3c1;
	color: #fff;
}

.b-tags_red {
	background-color: #df3c3f;
	border: 1px solid #e66c6e;
	color: #fff;
}

.b-tags:hover {
	opacity: 0.7;
}

/*Navigation*/
.b-nav {
    width: 205px;
    background-color: #fff;
    border: 1px solid #e6eaf5;
    border-radius: 5px;
    padding-top: 50px;
}

.b-nav_left {
	float: left;
}

.b-nav__menu {
    list-style-type: none;
    padding: 0;
}

.b-nav-menu {
    box-sizing: border-box;
    padding: 15px 0;
    border-left: 3px solid transparent;	
}

.b-nav-menu_active {
    background-color: #f5f6fb;
    border-top: 1px solid #e6eaf5;
    border-bottom: 1px solid #e6eaf5;
    border-left: 3px solid #0b55ff;
}

.b-nav-menu-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #19286e;
}

.b-nav-menu-link:hover .b-nav-menu-icon path,
.b-nav-menu-link:hover .b-nav-menu-icon polygon,
.b-nav-menu-link:hover .b-nav-menu-icon rect {
    fill: #0b55ff;
}

.b-nav-menu-link:hover {
    color: #0b55ff;
}

.b-nav-menu-link__item {
    display: inline-block;
	vertical-align: top;
}

.b-nav-menu__icon {
    margin-left: 27px;
}

.b-nav-menu__title {
    margin-left: 15px;
	font-size: 14px;
}

.b-nav-menu-icon {
    height: 15px;
    width: 15px;
}

.b-nav-menu__add {
    display: inline-block;
    float: right;
    margin-right: 20px;
    color: #19286e;
}

.b-bav-menu-add_notification {
    box-sizing: border-box;
    background-color: #19286e;
    border-radius: 7px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    padding: 3px 10px;

}

.b-nav-menu__sub {
    list-style-type: none;
    background-color: #f5f6fb;
    padding: 0;
    overflow: hidden;
	display: none;

    /*-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;*/
}

.b-nav-menu-sub {
    box-sizing: border-box;
    height: 25px;
    padding: 5px 5px 5px 65px;
    margin-bottom: 5px;
}

.b-nav-menu-sub:first-child {
    margin-top: 15px;
}

.b-nav-menu-sub:last-child {
    margin-bottom: 10px;
}

.b-nav-menu-sub a {
    color: #19286e;
    font-size: 13px;
    text-decoration: underline;
}

.b-nav-menu-sub a:hover {
    text-decoration: none;
}

