<div id="identity" ng-controller="EnvironmentViewCtrl as environmentViewCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Environment Manager</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <strong>Environment Manager</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="animated fadeIn wrapper-content">

        <div class="row">
            <div id="resizable-pane" class="col-lg-7 fullWidthPane">
                <div class="white-bg ibox float-e-margins">
                    <div class="ibox-title ibox-tools-right">

                        <div class="ibox-tools dropdown">
                            <a ng-click="environmentViewCtrl.addPane()"><i class="fa fa-plus-square"></i></a>
                        </div>
                    </div>


                    <div class="panel-body">

                        <tabset>
                            <!-- users tab-->
                            <tab heading="Blueprints" active="identityCtrl.isUser">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Resource hosts</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="blueprint in environmentViewCtrl.blueprints">
                                        <td>{{blueprint.name}}</td>
                                        <td>{{blueprint.resourceHosts}}</td>
                                        <td>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Delete </button>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Build </button>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Grow </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </tab>

                            <!-- roles tab-->
                            <tab heading="Roles management" active="identityCtrl.isRole">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>username</th>
                                        <th>ID</th>
                                        <th>name</th>
                                        <th>edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="role in identityCtrl.roles">
                                        <td>{{role.username}}</td>
                                        <td>{{role.ID}}</td>
                                        <td>{{role.name}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-md editRoleBtn">edit</button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </tab>

                            <!-- tokens tab-->
                            <tab heading="Token management" active="identityCtrl.isToken">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>username</th>
                                        <th>tokenname</th>
                                        <th>ip range</th>
                                        <th>ttl</th>
                                        <th>create date</th>
                                        <th>status</th>
                                        <th>token</th>
                                        <th>edit</th>
                                        <th>delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="token in identityCtrl.tokens">
                                        <td>{{token.username}}</td>
                                        <td>{{token.tokenname}}</td>
                                        <td>{{token.iprange}}</td>
                                        <td>{{token.ttl}}</td>
                                        <td>{{token.createdate}}</td>
                                        <td>{{token.status}}</td>
                                        <td>{{token.token}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-md editTokenBtn">edit</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-md deleteTokenBtn">delete</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div id="user-form" class="white-bg ibox float-e-margins" style="visibility: hidden;  display: none;">
                    <div class="ibox-title">
                        <h5>User registration</h5>
                        <div class="ibox-tools dropdown">
                            <a ng-click="identityCtrl.closePane()"><i class="fa fa-times"></i></a>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Username</label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Username" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Fullname</label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Fullname" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Email</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="email@mail.com" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Password</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="***********" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Confirm password</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="***********" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Roles</label>

                                <div class="col-sm-12">
                                    <col-select></col-select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-primary btn-md" type="submit">Save user</button>
                                    <button class="btn btn-primary btn-md" ng-click="identityCtrl.closePane()">Cancel</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div id="role-form" class="white-bg ibox float-e-margins" style="visibility: hidden; display: none;">

                    <div class="ibox-title">
                        <h5>Roles registration</h5>
                        <div class="ibox-tools dropdown">
                            <a ng-click="identityCtrl.closePane()"><i class="fa fa-times"></i></a>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Roles</label>

                                <div class="col-sm-12">
                                    <col-select></col-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Roles</label>

                                <div class="col-sm-12">
                                    <col-select></col-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Roles</label>

                                <div class="col-sm-12">
                                    <col-select></col-select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-primary btn-md" type="submit">Save user</button>
                                    <button class="btn btn-primary btn-md" ng-click="identityCtrl.closePane()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="token-form" class="white-bg ibox float-e-margins" style="visibility: hidden;  display: none;">
                    <div class="ibox-title">
                        <h5>Token registration</h5>
                        <div class="ibox-tools dropdown">
                            <a ng-click="identityCtrl.closePane()"><i class="fa fa-times"></i></a>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Username</label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Username" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Token name</label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Token name" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">IP range</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="IP range" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">TTL</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="TTL" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Create date</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="2015-05-15 15:15" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Status</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="valid" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required-label">Token</label>

                                <div class="col-sm-9">
                                    <input type="password" placeholder="1515615616" class="form-control" required>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-primary btn-md" type="submit">Save token</button>
                                    <button class="btn btn-primary btn-md" ng-click="identityCtrl.closePane()">Cancel</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>