<div ng-controller="EnvironmentViewCtrl as environmentViewCtrl">

	<div class="b-workspace__header">
		<a class="b-btn b-btn_green b-btn_header-button" href="#">
			<i class="fa fa-plus"></i> Create blueprint
		</a>
		<h1 class="b-title">Blueprint</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-main-table-border">
			<table class="b-main-table b-main-table_with-header">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Node group</th>
					<th></th>
				</tr>
				<tr>
					<td class="b-main-table__edit-icon">
						<a href="#" class="b-icon b-icon_edit"></a>
					</td>
					<td>MyFirstBlueprint</td>
					<td>
						<a class="b-tags" href="#">
							Cassandra: 5
						</a>
						<a class="b-tags b-tags_orange" href="#">
							Master: 5
						</a>
						<a class="b-tags b-tags_red" href="#">
							Cassandra: 5
						</a>
						<a class="b-tags b-tags_green" href="#">
							Cassandra: 5
						</a>
						<a class="b-tags b-tags_blue" href="#">
							Cassandra: 5
						</a>
					</td>
					<td class="b-main-table__controls">
						<a href="#" class="b-icon b-icon_build"></a>
						<a href="#" class="b-icon b-icon_grow"></a>
						<a href="#" class="b-icon b-icon_remove"></a>
					</td>
				</tr>
			</table>
		</div>
	</div>	

</div>
