<div class="b-popup b-popup">
    <div class="b-popup__header">
		<span>Create Environment</span>
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>
    <form ng-submit="environmentViewCtrl.setupStrategyRequisites()">
        <div class="b-popup__body">
            <div class="popup-body-box">
                <label class="b-popup-body-label">Advanced</label>
                <switch id="enabled" name="enabled" ng-model="enabled" class="green small"></switch>
                <div class="clear"></div>
            </div>
            <div class="popup-body-box">
                <label class="b-popup-body-label">Environment name</label>
                <input type="text"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-model="environment.name">
                <div class="clear"></div>
            </div>
            <div class="popup-body-box">
                <label class="b-popup-body-label">Strategy</label>
                <select ng-init="environment.strategy = environmentViewCtrl.strategies[0]"
                        class="b-popup-body-input b-popup-body-input_box"
                        ng-model="environment.strategy"
                        ng-options="strategy for strategy in environmentViewCtrl.strategies">
                </select>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box">
                <label class="b-popup-body-label">Select Peers</label>
                <select ng-init="environment.strategy = environmentViewCtrl.strategies[0]"
                        class="b-popup-body-input b-popup-body-input_full"
                        ng-model="environment.peers"
                        ng-options="peer.peerInfo.id for peer in environmentViewCtrl.peers"
                        multiple>
                </select>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box">
                <label class="b-popup-body-label">More</label>
                <a href ng-click="isOptionsEnabled = !isOptionsEnabled">
                        <i class="fa fa-lg" ng-class="isOptionsEnabled ? 'fa-angle-up' : 'fa-angle-down'"></i>
                </a>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box" ng-show="isOptionsEnabled">
                <label class="b-popup-body-label">SSH Group Id</label>
                <input type="text"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-model="environment.sshGroupId">
                <div class="clear"></div>
            </div>

            <div class="popup-body-box" ng-show="isOptionsEnabled">
                <label class="b-popup-body-label">Host Group Id</label>
                <input type="text"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-model="environment.sshGroupId">
                <div class="clear"></div>
            </div>

        </div>
        <div class="b-popup__footer">
            <button class="b-btn b-btn_green g-right" type="submit" id="subt_button__environment-add-domain">
                Create
            </button>
            <div class="clear"></div>
        </div>
    </form>
</div>
