<div class="b-popup b-popup_environment_creation">
    <div class="b-popup__header">
		<span>Create Environment</span>
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>
    <form ng-submit="environmentViewCtrl.createEnvironment(environment)">
        <div class="b-popup__body">
            <div class="popup-body-box">
                <label class="b-popup-body-label">Advanced</label>
                <switch id="enabled" name="enabled" ng-model="enabled" class="green small"></switch>
                <div class="clear"></div>
            </div>
            <div class="popup-body-box">
                <label class="b-popup-body-label">Environment name</label>
                <input type="text"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-model="environment.name" required>
                <div class="clear"></div>
            </div>
            <div class="popup-body-box">
                <label class="b-popup-body-label">Strategy</label>
                <select ng-init="environment.strategy = environmentViewCtrl.domainStrategies[0]"
                        class="b-popup-body-input b-popup-body-input_box"
                        ng-model="environment.strategy"
                        ng-options="strategy for strategy in environmentViewCtrl.domainStrategies"
                        required>
                </select>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box">
                <label class="b-popup-body-label">Select Peers</label>
                <div class="popup-body-box_item">
                    <ul class="b-popup-box__peer-list">
                        <li ng-repeat="peer in environmentViewCtrl.peers track by $index" class="b-popup-box__peer">
                            <div class="g-left peer-selected" ng-if="environmentViewCtrl.selectedPeers.indexOf(peer) > -1">
                                <span class="fa fa-check fa-1 b-btn-light-grey-icon_green"></span>
                            </div>
                            <div ng-click="environmentViewCtrl.togglePeer(peer)"  class="g-right peer-info" ng-class="environmentViewCtrl.selectedPeers.indexOf(peer) > -1 ? 'peer-selected' : ''">{{peer.peerInfo.id}}</div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box">
                <label class="b-popup-body-label">More</label>
                <a href ng-click="isOptionsEnabled = !isOptionsEnabled">
                        <i class="fa fa-lg" ng-class="isOptionsEnabled ? 'fa-angle-up' : 'fa-angle-down'"></i>
                </a>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box" ng-show="isOptionsEnabled">
                <label class="b-popup-body-label">SSH Group Id</label>
                <input type="text"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-model="environment.sshGroupId" required>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box" ng-show="isOptionsEnabled">
                <label class="b-popup-body-label">Host Group Id</label>
                <input type="text"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-model="environment.sshGroupId" required>
                <div class="clear"></div>
            </div>

        </div>
        <div class="b-popup__footer">
            <button class="b-btn b-btn_green g-right" type="submit" id="subt_button__environment-add-domain">
                Create
            </button>
            <div class="clear"></div>
        </div>
    </form>
</div>
