#core-modules {
	position: relative;
}
.img-circle {
	border-radius: 10px;
}
#consoleLayout {
	.navbar-static-side {
	height: 100%;
	width: 100%;
	}
	#topnav {
	display: block;
	height: 60px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	}

	#sidebar {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 220px;
	overflow: auto;
	}
	#content {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 225px /* 200 + 6*/;
	right: 0;
	overflow: hidden;

	}
	#top-content {
	position: absolute;
	top: 0;
	bottom: 136px; /* 130 + 6 */
	left: 0;
	right: 0;
	overflow: auto;
	}


	#sidebar-resizer {
	background-color: #666;
	position: absolute;
	top: 35px;
	bottom: 0;
	left: 220px;
	width: 6px;
	cursor: col-resize;
	z-index: 2015;
	}

	#sidebar-resizer:hover, #preview-resizer:hover {
	background-color: #AAA;
	}
	.nav-header {
	background-size: cover;
	}

}
