<div ng-controller="ConfigurationsCtrl as configurationsCtrl">

	<div class="b-workspace__header">
		<div ng-include="'subutai-app/common/partials/login-header.html'"></div>

		<h1 class="b-title"><span class="b-title_breadcrumbs">Configurations</span></h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-workspace-content__row">
			<div class="b-main-table-border" style = "width: 500px">
				<table class="b-main-table b-main-table_with-header" style = "width: 500px" align = "center">
				</table>
			</div>
		</div>
	</div>
</div>
