<div class="b-workspace-content b-workspace-content_border">
	<h2 class="b-workspace-content-row-h2 b-workspace-content-row-h2_inline">
		Available plugins
	</h2>
	<div class="b-main-table-border">
		<table class="b-main-table b-main-table_with-header">
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th></th>
				<th style = "text-align: center; padding-left: 0;">Actions</th>
				<th></th>
			</tr>
			<td colspan="4" class="b-main-table__empty-item" ng-show="bazaarCtrl.plugins.length ===0">
				No data available in table
			</td>
			<tr ng-repeat="plugin in bazaarCtrl.plugins">
				<td>{{ plugin.name }}</td>
				<td>{{ plugin.version }}</td>
				<td><a href class="b-icon b-icon_info" ng-click = "bazaarCtrl.showPluginInfo (plugin)"></a></td>
				<td class="b-main-table__container-status">
					<div class="progress-button" ng-show = "!plugin.installed">
						<button class = "loading-button" ng-show = "plugin.name !== 'Plugin-common'" ng-click = "bazaarCtrl.installPlugin (plugin)"><span>Install</span></button>
						<svg class="progress-circle" width="30" height="30"><path d="M 15 15 m 0, -13.5 a 13.5,13.5 0 0,1 0,27 a 13.5,13.5 0 0,1 0,-27 " stroke-width = "1.5"/></svg>
						<svg class="checkmark" width="30" height="30"><path d="M7.5,15 L13.5,22.5 "/><path d="M13.5,22.5 L22.5,7.5 "/></svg>
						<svg class="cross" width="30" height="30"><path d="M7.5,7.5 L15,15 "/><path d="M15,15 L22.5,22.5"/><path d="M15,15 L22.5,7.5 "/><path d="M7.5,22.5 L15,15 "/></svg>
					</div>
					<div class = "launch-button">
						<a ui-sref = "plugins/{{ plugin.url }}" class = "loading-button" ng-show = "plugin.installed" ng-click = "bazaarCtrl.launchPlugin (plugin)">Launch</a>
					</div>
				<td class="b-main-table__controls">
					<div class="progress-button" ng-show = "plugin.installed">
						<button class = "loading-button" ng-show = "plugin.name !== 'Plugin-common'" ng-click = "bazaarCtrl.uninstallPlugin (plugin)"><span>Uninstall</span></button>
						<svg class="progress-circle" width="30" height="30"><path d="M 15 15 m 0, -13.5 a 13.5,13.5 0 0,1 0,27 a 13.5,13.5 0 0,1 0,-27 " stroke-width = "1.5"/></svg>
						<svg class="checkmark" width="30" height="30"><path d="M7.5,15 L13.5,22.5 "/><path d="M13.5,22.5 L22.5,7.5 "/></svg>
						<svg class="cross" width="30" height="30"><path d="M7.5,7.5 L15,15 "/><path d="M15,15 L22.5,22.5"/><path d="M15,15 L22.5,7.5 "/><path d="M7.5,22.5 L15,15 "/></svg>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>