<div class="b-popup">
	<div class="b-popup__header">
		Register to Hub
		<a href ng-click="closeThisDialog()"><img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/></a>
	</div>
	<div class="b-popup__body">
		<div class="body">
			<div class="b-form-group g-margin-bottom">
				<div class="g-text g-margin-bottom-half">Login</div>
				<input type="text" class="b-form-input b-form-input_full" ng-model="registerCtrl.login" placeholder = "Login">
			</div>
			<div class="b-form-group" g-margin-bottom>
				<div class="g-text g-margin-bottom-half">Password</div>
				<input type="password" class="b-form-input b-form-input_full" ng-model="registerCtrl.password" placeholder = "Password">
			</div>
			<div class="b-form-group" style = "height: 30px; text-align: center">
				<label class = "b-form-label" ng-show = "registerCtrl.error" style = "color: #95150E">Error while registering peer</label>
			</div>
		</div>
		<div class="footer">
			<a target="_blank" href="https://hub.subut.ai" class="b-form-label">Sign Up</a>
			<button class="b-btn b-btn_green g-right" ng-click="registerCtrl.hubRegister()">Register</button>
		</div>
	</div>
</div>