<div ng-controller="SystemManagerCtrl as systemManagerCtrl">

	<div class="b-workspace__header">

		<div ng-include="'subutai-app/common/partials/login-header.html'"></div>

		<h1 class="b-title">System Manager</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item"
					ng-click="systemManagerCtrl.activeTab = 'config'"
					ng-class="systemManagerCtrl.activeTab == 'config' ? 'b-tabs-menu__item_active' : ''">
					Configurations
				</li>
				<li class="b-tabs-menu__item"
					ng-click="systemManagerCtrl.activeTab = 'update'"
					ng-class="systemManagerCtrl.activeTab == 'update' ? 'b-tabs-menu__item_active' : ''">
					Updates
				</li>
			</ul>
		</div>
		<div
				ng-if="systemManagerCtrl.activeTab == 'config'"
				ng-include="'plugins/systemManager/partials/config.html'">
		</div>

		<div
				ng-if="systemManagerCtrl.activeTab == 'update'"
				ng-include="'plugins/systemManager/partials/update.html'">
		</div>
	</div>

</div>
