<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Tracker</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Tracker</strong>
            </li>
        </ol>
    </div>
</div>
<div class="panel-body">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label>Source</label>
                <select class="chosen-select" data-placeholder="hadoop">
                    <option value=""></option>
                    <option value="hadoop">Hadoop</option>
                    <option value="oozie">Oozie</option>
                    <option value="envmanager">Environment manager</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" id="data_1">
                <label class="font-noraml">Simple data input format</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>

<script>
    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    $('.chosen-select').chosen();
</script>