<div ng-controller="MetricsCtrl as metricsCtrl">
    <div id="sidebar">

        <div class="scrollableDiv">
            <!--<div id="nodesTree" ng-model="nodes">-->
                <!-- -->
            <!--</div>-->
            <ul ng-repeat="node in metricsCtrl.nodes">
                <li ng-repeat="n in node">{{n.id}}</li>
            </ul>
        </div>
        <select data-placeholder="Choose an environment" multiple class="chosen-select">
            <option value="env1">Environment 1</option>
            <option value="env2">Environment 2</option>
        </select>
        <button class="btn btn-primary btn-md" onclick="getMetrics()">Get metrics</button>
    </div>
    <div id="content" class="metricsWrapper">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2>Monitoring</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">
                        <strong>Monitoring</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <ul class="nav nav-tabs" id="metricsTab">
                    <li class="active"><a href="#cpu" data-toggle="tab">CPU</a></li>
                    <li><a href="#ram" data-toggle="tab">RAM</a></li>
                    <li><a href="#dataset" data-toggle="tab">DATASET</a></li>
                </ul>

                <div class="tab-content"  ng-controller="chartJsCtrl as chart">
                    <div class="tab-pane active" id="cpu">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Line Chart Example
                                    <small>With custom colors.</small>
                                </h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <canvas linechart options="chart.lineOptions" data="chart.lineData" height="140" responsive=true ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="ram"></div>
                    <div class="tab-pane" id="dataset"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar-resizer"
         resizer="vertical"
         resizer-width="6"
         resizer-left="#sidebar"
         resizer-right="#content"
         resizer-max="400">
    </div>

</div>


<script>

    $(document).ready(function(){
        $('.chosen-select').chosen();

        $('#metricsTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });


//        $('#nodesTree').jstree({ 'core' : {
//            'data' : [
//                { "id" : "ajson2", "parent" : "#", "text" : "Resource host" },
//                { "id" : "ajson3", "parent" : "ajson2", "text" : "Container 1" },
//                { "id" : "ajson4", "parent" : "ajson2", "text" : "Container 2" }
//            ]
//        } });
    });

</script>
