<div ng-controller="MetricsCtrl as metricsCtrl">
    <div id="sidebar">

        <div class="scrollableDiv">
            <js-tree tree-data="json"
                     tree-src="subutai-app/metrics/dummy-api/treedata.json"
                     tree-plugins="checkbox"
                     tree-events="activate_node:selectedNode"></js-tree>
        </div>
        <button class="btn btn-primary btn-md" ng-click="metricsCtrl.showChart()">Get metrics</button>
        <hr/>
        <p>
            <h3>Show chart data on check</h3>
            <input type="checkbox" ng-model="checked" ng-init="checked=false" id="lxc"/>
            <label for="lxc">Some lxc</label>
        </p>
    </div>
    <div id="content" class="metricsWrapper">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2>Monitoring</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">
                        <strong>Monitoring</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <ul class="nav nav-tabs" id="metricsTab">
                    <li class="active"><a href="#cpu" data-toggle="tab">CPU</a></li>
                    <li><a href="#ram" data-toggle="tab">RAM</a></li>
                    <li><a href="#dataset" data-toggle="tab">DATASET</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="cpu">
                        <ul ng-repeat="chart in metricsCtrl.charts" ng-if="checked">
                            <li>{{chart.id}}</li>
                            <li>{{chart.time}}</li>
                            <li>{{chart.cpu}}</li>
                            <li>{{chart.ram}}</li>
                            <li>{{chart.dataset}}</li>
                            <li><hr/></li>
                        </ul>

                    </div>

                    <div class="tab-pane" id="ram"></div>
                    <div class="tab-pane" id="dataset"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar-resizer"
         resizer="vertical"
         resizer-width="6"
         resizer-left="#sidebar"
         resizer-right="#content"
         resizer-max="400">
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function(){
        $('.chosen-select').chosen();

        $('#metricsTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });

</script>
