<div id="identity" ng-controller="consoleViewCtrl">
	<div id="sidebar">
		<h3>Side navbar</h3>
	</div>
	<div id="content">
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-9">
				<h2>Console layout</h2>
				<ol class="breadcrumb">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li class="active">
						<strong>Console layout</strong>
					</li>
				</ol>
			</div>
		</div>
		<div class="wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-md-12">
					<div id="term_demo">
						<terminal terminal-class="modern-terminal" terminal-config="modern">
						<!--<p class="click-me">Click me to start commanding !</p>-->
						</terminal>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="sidebar-resizer"
		 resizer="vertical"
		 resizer-width="6"
		 resizer-left="#sidebar"
		 resizer-right="#content"
		 resizer-max="400">
	</div>
</div>
